<ion-grid>
    <ion-row>
        <ion-col size="12">
            <ion-item lines="none" *ngFor="let item of list">
                <ng-template [ngIf]="avatar" [ngIfElse]="nail">
                    <ion-avatar slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                </ng-template>
                <ng-template #nail>
                    <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                </ng-template>
                <ion-label class="ion-padding-start">
                    <h3>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>

